{% extends 'base.html' %}

{% block body %}
<h1>Sentiments (percent) for {{ unit_name }}</h1>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="sentiment-chart" style="width: 480px; height: 400px;"></div>

<h1>Reviews</h1>
{% for rev in unit_reviews %}
	<p>
		Rating: {{ rev.rating }}<br>
		{{ rev.review }}<br>
		<a href="{{ rev.review_link }}">Link</a>
	</p>
{% endfor %}
{% endblock %}

{% block javascript %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
	var data = [
		{
			x: ['Positive', 'Negative', 'Neutral'],
			y: [
				{{ positive|round(precision=2) }},
				{{ negative|round(precision=2) }},
				{{ neutral|round(precision=2) }}
			],
			type: 'bar'
		}
	];
	Plotly.newPlot('sentiment-chart', data);
</script>
{% endblock %}
